
@{
    ViewBag.Title = "InforUser";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/InforUserStyle.css" />
<link rel="stylesheet" href="~/Content/ProductCategoryStyle.css" />
<div style="background-color: #F5F5F5; font-family: 'Segoe UI'; width: 100%; height: 100%; margin-bottom:34px">
    <div style="width: 100%; max-width: 100%; margin: auto;">
        <div style="display: flex; flex-wrap: wrap; margin-left: -12px; margin-right: -12px;">
            <div style="padding-left: 12%; padding-right: 12px; width: 25%;">
                <nav style="background-color: white; border-radius: 2px;">
                    <h3 style="color:red; font-size: 1.5rem; padding: 6px 6px; padding-top: 20px; border-bottom: 1px solid rgba(0,0,0,0.1);">&nbsp TÀI KHOẢN</h3>
                    <div>
                        <p style="color: coral" class="menu-item__link">Bảng điều khiển tài khoản</p>
                        <p class="menu-item__link">Thú cưng đã thích</p>
                        <p class="menu-item__link">Thông tin tài khoản</p>
                        <p class="menu-item__link">Số địa chỉ</p>
                        <p class="menu-item__link">Đơn hàng của tôi</p>
                        <p class="menu-item__link">Ví voucher/Mã giảm giá</p>
                        <p class="menu-item__link">Tài Khoản BKB-tokens/Freeship</p>
                        <p class="menu-item__link">Nhận xét của tôi</p>
                        <p class="menu-item__link">Thông Báo</p>
                        <p class="menu-item__link">Đăng ký nhận tin điện tử</p>
                    </div>

                </nav>
            </div>

            <div style="padding-left: 12px; padding-right: 12px; width: 70%;">
                <div style=" background-color: white; border-radius: 2px; padding: 12px 22px;">
                    <p style="font-size:1.5rem">BẢNG ĐIỀU KHIỂN CỦA KHÁCH HÀNG</p>
                    <fieldset style="background-color: antiquewhite; height: 90%; width: 100%; padding: 12px 22px;">
                        <div style="border-bottom: 1px solid rgba(0,0,0,0.1)">
                            <p>Họ và tên: <b>Giảng Lâm Đăng Lương Thiên Huỳnh Phúc Bảo Khoa Bảo</b></p>
                            <p>Email: <b>BKBshoppet@gmail.com</b></p>
                            <p>Cấp độ thành viên: <b>Thân thiết(con chủ website)</b></p>
                            <p>Thông tin tài khoản</p>
                        </div>
                        <div style="margin:5px;width:100%;justify-content:space-between;display:flex">
                            <span>BKB-tokens</span>  <span>0đ</span>  <span>Xem thêm</span>
                        </div>
                        <div style="margin: 8px 3px;width:100%; justify-content: space-between; display: flex">
                            <span>Freeship</span>  <span>0đ</span>  <span>Xem thêm</span>
                        </div>
                        <div style="margin: 8px 3px;width:100%; justify-content: space-between; display: flex">
                            <span>Hội thú cưng</span>  <span>sắp diễn ra</span>
                        </div>
                        <div style="margin: 8px 3px;width:100%; justify-content: space-between; display: flex">
                            <span>Số đơn hàng thành công năm 2023</span>  <span>0</span>
                        </div>
                        <div style="margin: 8px 3px;width:100%; justify-content: space-between; display: flex">
                            <span>Số tiền đã thanh toán năm 2023</span>  <span>0đ</span>
                        </div>
                    </fieldset>
                    <h2 style="border-bottom: 1px solid rgba(0,0,0,0.1);margin: 8px 0"><a style="color: red;text-decoration:none" href="">SỔ ĐỊA CHỈ</a></h2>
                    <div style="margin: 8px 8px;width:100%; justify-content: space-around; display: flex">
                        <span>ĐỊA CHỈ THANH TOÁN MẶC ĐỊNH</span>  <span>ĐỊA CHỈ GIAO HÀNG MẶC ĐỊNH</span>
                    </div>
                    <div style="margin: 8px 8px;width:100%; justify-content: space-around; display: flex">
                        <span>Bạn chưa khai báo địa chỉ thanh toán mặc định.</span>  <span>Bạn chưa khai báo địa chỉ nhận hàng mặc định.</span>
                    </div>
                    <div style="margin:8px 8px;width:100%; justify-content: space-around; display: flex">
                        <a style="color: red;text-decoration:none" href="">Sửa địa chỉ</a>  <a style="color: red;text-decoration:none" href="">Sửa địa chỉ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
